<mat-toolbar color="primary" class="header">
  <span class="logo">
    <a routerLink="/">
      <img class="logo-img" src="https://t4.vision360.kz/images/vision.svg" alt="logo">
    </a>
  </span>

  <span class="search-box">
    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'HEADER.SEARCH' | translate }}
      </mat-label>
      <input matInput type="text">
      <mat-icon matSuffix fontIcon="search"></mat-icon>
    </mat-form-field>
  </span>

  <div class="header-right-side">
    <div class="d-flex">
      <ng-container *ngIf="language$ | async as currentLanguage">
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item (click)="changeLanguage(LanguageEnum.English)">
            {{ 'HEADER.ENGLISH' | translate }}
          </button>
          <button mat-menu-item (click)="changeLanguage(LanguageEnum.Swedish)">
            {{ 'HEADER.SWEDISH' | translate }}
          </button>
        </mat-menu>

        <button class="language" mat-icon-button [matMenuTriggerFor]="languageMenu">
          {{
            currentLanguage === LanguageEnum.English
              ? LanguageEnum.English.toUpperCase()
              : LanguageEnum.Swedish.toUpperCase()
          }}
        </button>
      </ng-container>

      <ng-container *ngIf="theme$ | async as currentTheme">
        <button
          mat-icon-button
          (click)="toggleTheme(currentTheme === ThemeEnum.Light ? ThemeEnum.Dark : ThemeEnum.Light)">
          <mat-icon class="d-flex" >
            {{ currentTheme === ThemeEnum.Light ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
        </button>
      </ng-container>
    </div>

    <div class="d-flex">
      <ng-container *ngIf="!(isAuthenticated$ | async); else loggedIn">
        <button mat-button routerLink="auth/signin">
          {{ 'HEADER.SIGNIN' | translate }}
        </button>
        <button mat-button routerLink="auth/signup">
          {{ 'HEADER.SIGNUP' | translate }}
        </button>
      </ng-container>

      <ng-template #loggedIn>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/profile">
            {{ 'HEADER.PROFILE' | translate }}
          </button>
          <button mat-menu-item (click)="logout()">
            {{ 'HEADER.LOGOUT' | translate }}
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</mat-toolbar>
