<mat-card>
  <h1>{{ 'AUTH.RESET_YOUR_PASSWORD' | translate }}</h1>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'AUTH.EMAIL' | translate }}
      </mat-label>
      <input matInput formControlName="email" type="email">
      <mat-icon fontIcon="alternate_email" matSuffix></mat-icon>
      <mat-error *ngIf="forms.get('email')?.hasError('required')">
        {{ 'AUTH.EMAIL_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="forms.get('email')?.hasError('email')">
        {{ 'AUTH.EMAIL_INVALID' | translate }}
      </mat-error>
      <mat-error *ngIf="forms.get('email')?.hasError('userExists')">
        {{ 'AUTH.EMAIL_NOT_EXISTS' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'AUTH.NEW_PASSWORD' | translate }}
      </mat-label>
      <input matInput formControlName="password" [type]="hide ? 'text' : 'password'">
      <mat-icon matSuffix (click)="hide = !hide">
        {{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error *ngIf="forms.get('password')?.hasError('required')">
        {{ 'AUTH.PASSWORD_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="forms.get('password')?.hasError('incorrect')">
        {{ 'AUTH.PASSWORD_INCORRECT' | translate }}
      </mat-error>
    </mat-form-field>

    <button mat-flat-button type="submit">
      {{ 'AUTH.RESET' | translate }}
    </button>
  </form>
</mat-card>
