@use 'bootstrap/scss/bootstrap';
@use '../public/styles/theme';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
